@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit:hover {
  color: darkkhaki;
}

.delete:hover {
  color: red;
}
